<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/evoting</property>
		<property name="hibernate.connection.useSSL">true</property>
		<property name="hibernate.connection.verifyServerCertificate">true</property>
		<property name="hibernate.connection.requireSSL">true</property>		
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.default_schema">evoting</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="show_sql">true</property> 
		<property name="format_sql">true</property> 
        <mapping resource="sg/edu/nyp/evoting/beans/CandidateMaster.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/ElectionMaster.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/PollingLog.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/PartyRegistry.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/CandidateConstituencyMapping.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/Users.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/ElectionResults.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/VoterLogbook.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/ConstituencyPartyMapping.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/ConstituencyMaster.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/ConstituencyArea.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/VoterRegistry.hbm.xml" />
        <mapping resource="sg/edu/nyp/evoting/beans/PollingstationMaster.hbm.xml" />
    </session-factory>
</hibernate-configuration>
